body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  text-align: left;
}

.body-container {
  display: flex;
  max-width: 100vw;
  flex-direction: column; /* Stacks items vertically */
}

.description-container {
    width: 100vw;
    background-color: #f0f0f0;
    text-align: center;
    flex-shrink: 0; /* Prevent the top section from shrinking */
}


.chat-container {
  width: 90vw;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 'flex-grow';
  padding: 16px;
  overflow-y: auto;
  max-width: 90%;
  border-bottom: 1px solid #ddd;
}

.message-pair {
  margin-bottom: 20px;
}

.user-bubble {
  background-color: #32caec;
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  max-width: 90%;
  align-self: flex-end;
  margin-left: auto;
}

.bot-box {
  background-color: #f1f1f1;
  color: #333;
  padding: 12px;
  border-radius: 6px;
  margin-top: 8px;
  max-width: 90%;
  align-self: flex-start;
  white-space: pre-line;
}

form {
  display: flex;
  border-top: 1px solid #ddd;
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
}

input[type="file"] {
  display:none;
}

.file-label {
  padding: 12px;
  background: #32caec;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 8px;
  border: 1px solid #ddd;
  transition: background 0.2s;
}

.file-label:hover {
  background: #007bff;
  color: white;
}


button {
  padding: 12px;
  background: #32caec;
  color: white;
  border: none;
  cursor: pointer;
}
